# Hack to cleanup dangling wofi instances older than 5 minutes (300 seconds)
[Unit]
Description=Cleans dangling wofi instances
Wants=myMonitor.timer

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/pkill --uid vkuzel --older 300 --full "wofi .*drun" || /bin/true'

[Install]
WantedBy=multi-user.target