[Unit]
Description=Triggers dangling wofi instances cleanup
Requires=wofi-clean.service

[Timer]
Unit=wofi-clean.service
OnCalendar=*:0/15

[Install]
WantedBy=timers.target